<div class="container">
    <div class="d-flex justify-content-center div_center">
        <mat-card class="example-card">
            
             <form  [formGroup]="loginForm" (ngSubmit)="Onsubmit()">
                <h1 class="text-center">Login</h1>

                <mat-card-content>
                  <p>
                      <mat-form-field appearance="outline">
                        <mat-label>UserName</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="email">
                      </mat-form-field>
                    </p>
  
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Placeholder" type="password" formControlName="password">
                      </mat-form-field>
                    </p>
                </mat-card-content>
  
                <button mat-stroked-button color="primary" [disabled]="!loginForm.valid">Login</button>
  
             </form>
          </mat-card>
          

    </div>

</div>