.div_center{
    text-align: center;
}
.example-card {
    max-width: 500px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
  }
  
::ng-deep mat-form-field {
  
    width: 305px;
}