<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin Section</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/list_members" *ngIf="api.isLoggedIn()">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" *ngIf="api.isLoggedIn()">Products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" routerLink="/reporting" *ngIf="api.isLoggedIn()">Reporting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/users" *ngIf="api.isLoggedIn()">Users</a>
          </li>
        </ul>
        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" *ngIf="api.isLoggedIn()">Testing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="api.logout()" *ngIf="api.isLoggedIn()">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" *ngIf="!api.isLoggedIn()">Login</a>
                  </li>
             
              </ul>
        </form>
      </div>
    </div>
  </nav>