
<div class="container">
    <div class="d-flex justify-content-center div_center">
        <mat-card class="example-card">
            
             <form  [formGroup]="memberForm" (ngSubmit)="Onsubmit()">
                <h1 class="text-center">Create Member</h1>

                <mat-card-content>
                 <div class="row">
                     <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>UserName</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="name">
                          </mat-form-field>
                     </div>
                     <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>JoinDate</mat-label>
                            <input type="date" matInput placeholder="Placeholder" formControlName="JoinDate">
                          </mat-form-field>
                     </div>
                     
                 </div>

                 <div class="row" formGroupName="sections">
                     <h1>Sections</h1>
                     <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>First</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="first">
                          </mat-form-field>
                     </div>
                     <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Second</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="second">
                          </mat-form-field>
                     </div>
                     <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Third</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="third">
                          </mat-form-field>
                     </div>
                     <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Fourth</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="fourth">
                          </mat-form-field>
                     </div>
                 </div>

                 <div class="row">
                     
                    
                 </div>
                   
                </mat-card-content>
  
                <button mat-stroked-button color="primary" [disabled]="!memberForm.valid">Create</button>
  
             </form>
          </mat-card>
          

    </div>

</div>