<div class="container">
  <div class="text-end">
    <button mat-raised-button color="primary" routerLink="/create_member">CreateMember</button>
  </div>

  <table class="table text-center bordered">
    <thead>
      <tr>
        <th scope="col" rowspan="2">Id</th>
        <th scope="col" rowspan="2">Name</th>
        <th scope="col" colspan="4">Sections</th>
        <th scope="col" rowspan="2">Join Date</th>
        <th scope="col" rowspan="2">Status</th>
        <th scope="col" rowspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td></td>
        
        <th>1st</th>
        <th>2nd</th>
        <th>3rd</th>
        <th>4th</th>
        <!-- <td>Mark</td> -->
  
        <td></td>
        <td></td>
        <td></td>
  
      </tr>
  
      <tr *ngFor="let item of Members_list">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.sections.first}}</td>
        <td>{{item.sections.second}}</td>
        <td>{{item.sections.third}}</td>
        <td>{{item.sections.fourth}}</td>
        <td>{{item.JoinDate}}</td>
        <td>{{item.status}}</td>
        <td>              
            <button mat-stroked-button color="warn"  (click)="delete(item.id)">Delete</button>
        </td>
      
      </tr>
  
    </tbody>
  </table>
  
</div>